<br><br><br>
<div class="card text-center">
    <!-- Button trigger modal -->
    <div>
      <button type="button" class=" btn-primary btn-lg" 
            data-toggle="modal" data-target="#modelId" (click) = "addUser()">
        Add User
      </button>
    </div>
    <div class="card-body">
      <h2 class="card-title">All Users</h2>
    </div>
    
      <br>
    <!-- Modal -->
    <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" 
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                 <!---- {{selectedBook | json}}<br>
                  {{selectedBookId}}--->
                  <h5>User Information</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                <div class="modal-body">
                    <!--{{userModel | json}}-->
                    <form #userForm="ngForm">
                         
                      <div class="form-group">
                          <label for="User Name">User name</label>
                          <input type="text" class="form-control"
                           name="username" id="username" aria-describedby="helpId" [(ngModel)] = "userModel.userName"
                          #username = "ngModel"
                          [class.is-invalid] = "username.touched && username.invalid" required
                           >
                           <small class="text-danger" [class.d-none] = "username.valid || username.untouched">User name is required</small>
                      </div>
                      <div class="form-group">
                          <label for="password">password</label>
                          <input type="password" class="form-control"
                           #password ="ngModel"
                           [class.is-invalid] = "password.invalid && password.touched" required
                           name="password" id="password" aria-describedby="helpId" [(ngModel)] = "userModel.password"
                           >
                           <small class="text-danger" [class.d-none] = "password.valid || password.untouched">Password is required</small>
                      </div>
                      <button id ="addBook"
                       type="button" class="btn btn-primary" (click) ="onSubmit()" [disabled] = "userForm.form.invalid">Save</button>
  
                    </form>
  
                </div>
                <div class="modal-footer">
                    <button type="button" id="close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>




<table class="table table-borderless table-striped table-dark">
    <thead>
        <tr>
            <th>User Id</th>
            <th>User Name</th>
        </tr>
        </thead>
        <tbody *ngFor="let user of userList">
            <tr>
                <td>{{ user.userId }}</td>
                <td>{{ user.userName }}</td>
                <td>
                    <button (click) = "deleteUser(user)"><a><img
                        width="25"
                        alt="Delete logo"
                        src="assets/img/delete.png"
                        /></a></button>
                </td>
                <td>
                    
                    <button data-toggle="modal" data-target="#modelId"><a (click) = "updateUser(user)"><img
                        width="25"
                        alt="Delete logo"
                        src="assets/img/edit.png"
                        /></a></button> 
                        
                </td>
            </tr>
        </tbody>
</table>

