<br><br><br>
<table class="table table-borderless table-striped table-dark">
    <thead>
        <tr>
            <th>User Id</th>
            <th>User Name</th>
        </tr>
        </thead>
        <tbody *ngFor="let user of userList">
            <tr>
                <td>{{ user.userId }}</td>
                <td>{{ user.userName }}</td>
                <td>
                    <button type="button" data-toggle="modal" data-target="#modelId" 
                    (click) = "getIssuedBooksOfUser(user.userId)">
                        Get Issued Books
                      </button>
                </td>
                <td>
                    <button type="button" data-toggle="modal" data-target="#issueBookModal" 
                    (click) = "getUserIdToIssue(user.userId)">
                        Issue Book
                      </button>
                </td>
            </tr>
        </tbody>
</table>


<!-- Modal triggered on getIssuedBooksOfUser-->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Issued Books</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                
                    <div *ngIf = "isEmpty; then thenBlock; else elseBlock"></div>
                        <ng-template #thenBlock>
                            <h5>{{ message }}</h5>
                        </ng-template>
                        <ng-template #elseBlock>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>BookID</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor = "let issueBook of booksIssued">
                                    <tr>
                                        <td>{{ issueBook.bookId }}</td>
                                        <td>
                                    <button (click) = "releaseBook(issueBook)">Release Book</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </ng-template>
              
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               
            </div>
        </div>
    </div>
</div>


<!-- Modal triggered on issueBook-->
<div class="modal fade" id="issueBookModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Issue Book</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <form #issueBookForm = "ngForm">
                <div class="form-group">
                    <label for="Book ID">Book Id</label>
                    <input [(ngModel)] = "bookIdToIssue"
                     type="number" class="form-control"
                     name="bookIdToIssue" id="bookIdToIssue" aria-describedby="helpId"
                     #bookId = "ngModel"
                     [class.is-invalid] = "bookId.invalid && bookId.touched" required
                     (click) = "whenClicked()"
                     >
                    <!----<small [class.d-none] = "bookId.valid || bookId.untouched">BookId is required</small>-->
                    <div *ngIf = "bookId.errors && (bookId.invalid || bookId.touched)">
                        <small class =" text-danger" *ngIf = "bookId.errors.required" 
                        [class.d-none] = "bookId.valid || bookId.untouched">BookId is required</small>

                    </div>
                    <br><h6>{{messageToDisplay}}</h6>

                </div>
                <button type="button" class="btn btn-primary" [disabled] = "issueBookForm.form.invalid"
                (click) = issueBook()>
                    Issue Book</button>
            </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                id="issueClose">Close</button>
                
            </div>
        </div>
    </div>
</div>



