<br><br>
<!--{{bookModel | json}}<br>
{{selectedBook | json}}-->
<div class="card text-center">
  <!-- Button trigger modal -->
  <div>
    <button type="button" class=" btn-primary btn-lg" 
          data-toggle="modal" data-target="#modelId" (click) = "addBookAction()">
      Add Book
    </button>
  </div>
  <div class="card-body">
    <h2 class="card-title">Available Books</h2>
  </div>
  
    <br>
  <!-- Modal -->
  <div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" 
  aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
               <!---- {{selectedBook | json}}<br>
                {{selectedBookId}}--->
                <h5>Book Information</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
              </div>
              <div class="modal-body">

                  <form #bookForm="ngForm">
                       
                    <div class="form-group">
                        <label for="Book title">Book title</label>
                        <input type="text" class="form-control"
                         #bookTitle ="ngModel"
                         [class.is-invalid] = "bookTitle.invalid && bookTitle.touched" required
                         name="booktitle" id="booktitle" aria-describedby="helpId" 
                         placeholder="Title" 
                         [(ngModel)] = "bookModel.title">
                        <small class="text-danger" [class.d-none]="bookTitle.valid || bookTitle.untouched">
                            Book title is required
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="Book Author">Author</label>
                        <input type="text" class="form-control"
                         #author = "ngModel"
                         [class.is-invalid] = "author.invalid && author.touched" required
                         name="author" id="author" aria-describedby="helpId" 
                         placeholder="Author" 
                         [(ngModel)] = "bookModel.author">
                        <small class="text-danger" [class.d-none] = "author.valid || author.untouched">
                            Author is required
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="Book Genre">Genre</label>
                        <input type="text" class="form-control"
                         #genre = "ngModel"
                         [class.is-invalid] = "genre.invalid && genre.touched" required
                         name="genre" id="genre" aria-describedby="helpId" 
                         placeholder="Genre"  
                         [(ngModel)] = "bookModel.genre">
                        <small class="text-danger" [class.d-none] = "genre.valid || genre.untouched">
                            Genre is required
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="Book Cost">Cost</label>
                        <input type="number" class="form-control"
                         #cost = "ngModel"
                         [class.is-invalid] = "cost.invalid && cost.touched" required
                         name="cost" id="genre" aria-describedby="helpId" 
                         placeholder="Cost" 
                         [(ngModel)] = "bookModel.cost">
                        <small class="text-danger" [class.d-none] = "cost.valid || cost.untouched">
                            Cosyt is required
                        </small>
                    </div>
                    <button id ="addBook" [disabled] = "bookForm.form.invalid"
                     type="button" class="btn btn-primary" (click) = "onSubmit()">Save</button>

                  </form>

              </div>
              <div class="modal-footer">
                  <button type="button" id="close" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
          </div>
      </div>
  </div>

  

<table class="table table-borderless table-striped table-dark">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Cost</th>
        </tr>
        </thead>
        <tbody *ngFor="let book of bookList">
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.genre }}</td>
                <td>{{ book.cost }}</td>

                <td>
                    <button><a (click)="deleteBook(book)"><img
                        width="25"
                        alt="Delete logo"
                        src="assets/img/delete.png"
                        /></a></button>
                </td>
                <td>
                    
                    <button data-toggle="modal" data-target="#modelId" (click) = "updateBookAction(book)"><a><img
                        width="25"
                        alt="Delete logo"
                        src="assets/img/edit.png"
                        /></a></button>

                </td>
               
            </tr>
        </tbody>
</table>

